.pause-play-button {
  background-color: #1BD760;
  border: none;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 10px;
  font-size: inherit;
  border-radius: 50%;
  inline-size: 48px;
  block-size: 48px;
  position: absolute;
  left: 91px;
  top: 99px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease; /* Adding a smooth transition on transform */
}

.pause-play-button:hover {
  transform: scale(1.05);
}

/*positioning pause/play icon within button to be centered*/
span svg {
  position: absolute;
  top: 12px;
  left: 13px;
}
