<div class="container header">
  <div>
    <img [src]="media.coverArtImgSrc" alt="">
  </div>
  <div class="header__metadata">
    <small *ngIf="media.type === 'playlist'">{{media.privacy ? media.privacy : 'Public'}} {{media.type}}</small>
    <small *ngIf="media.type === 'show'">Podcast Episode</small>
    <h1 class="header__metadata-media-name">{{media.name}}</h1>
    <em>{{media.description}}</em>
    <div [ngSwitch]="media.type" class="header__metadata-details">
      <div *ngSwitchCase="'playlist'">
        <small> 🎵 Made for FierceBlackNerd - 50 songs, 2hrs 39 min </small>
      </div>
      <div *ngSwitchCase="'show'">
        <h5> {{media.fullShowName}} </h5>
      </div>
      <div *ngSwitchDefault>
        <small> {{media.name}}frdsrds </small>
      </div>
    </div>

  </div>

</div>
