<div class="container header">
  <div>
    <img [src]="media.coverArtImgSrc" alt="">
  </div>
  <div class="header__metadata">
    <small class="header__metadata-details" *ngIf="media.type === 'playlist'">{{media.privacy ? media.privacy : 'Public'}} {{media.type}}</small>
    <small class="header__metadata-details" *ngIf="media.type === 'show'">Podcast Episode</small>
    <small class="header__metadata-details" *ngIf="media.type === 'album'">{{media.type}}</small>
    <h1 class="header__metadata-media-name">{{media.name}}</h1>
    <em>{{media.description}}</em>
    <div [ngSwitch]="media.type">
      <div *ngSwitchCase="'playlist'">
        <small class="header__metadata-details"> 🎵 Made for FierceBlackNerd - 50 songs, 2hrs 39 min </small>
      </div>
      <div *ngSwitchCase="'show'">
        <h5> {{media.fullShowName}} </h5>
      </div>
      <div *ngSwitchCase="'album'">
        <small class="header__metadata-details"> {{media.artistName}} </small>
      </div>
      <div *ngSwitchDefault>
        <small class="header__metadata-details"> {{media.name}} </small>
      </div>
    </div>
  </div>
</div>
