/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-base: #121212;
  --background-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=);
}

body {
  background-color: #121212;
  /*background: linear-gradient(to top, #210505, #121212);*/
  /*!* Add vendor prefixes for broader browser support *!*/
  /*background: -webkit-linear-gradient(to bottom, #380C0D, #121212);*/
  /*background: -moz-linear-gradient(to bottom, #380C0D, #121212);*/
  /*background: -o-linear-gradient(to bottom, #380C0D, #121212);*/
  color: #FFFF;
  font-family: sans-serif;
}

.gradient-bg {
  background-color: rgb(224, 40, 40);
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.6)),to(var(--background-base))),var(--background-noise);
  background-image: linear-gradient(rgba(0,0,0,.6) 0,var(--background-base) 100%),var(--background-noise);
  position: absolute;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  width: 100%;
  z-index: -1;
  height: 373px;
  margin-top: -1px;
  animation-name: example;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color: rgb(224, 40, 40);}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.centered {
  text-align: center;
}

.container {
  margin: 1rem;
  padding: 1rem;
}
